.list-container { 

    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #FFF2F2;

}

.list-body {

    padding-top: 30px;
    display: flex;
    gap: 2%;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}